head,
body {
    background-color: white;
    background-size: cover;
    padding: 0;
    margin: 0;
    max-width: 1920px;
}

boxmodel {
    background-color: #f5f5f5;
    width: 24%;
    height: 486px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 0 auto;
    margin-top: 50px;
    border: 1px solid #707070;
    border-radius: 25px;
}

button {
    background-color: white;
    width: 80%;
    height: 60px;
    border: 1px solid #707070;
    border-radius: 12px;
    margin: 0 auto;
    margin-top: 130px;
    color: #707070;
    font-size: 20px;
    text-align: center;
}

button:hover {
    background-color: bisque;
}

.btn {
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

#bk {
    background-color: #ffc928;
}

#res {
    background-color: #1de9b6;
}

line {
    display: block;
    width: 80%;
    height: 2px;
    background-color: #707070;
    text-align: center;
    margin: 6px auto 20px;
}

sum {
    display: block;
    margin: 10px 30px auto;
    font-size: 30px;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}

sum input {
    display: block;
    width: 93%;
    text-align: left;
    align-content: center;
    height: 25px;
    font-size: larger;
    padding: 3px 6px;
    background-color: whitesmoke;
}

res {
    display: block;
    margin: -11px 30px auto;
    font-size: 35px;
    color: #707070;
    font-family: Arial, Helvetica, sans-serif;
}

result {
    background-color: white;
    width: 24%;
    height: 120px;
    display: block;
    border-radius: 25px;
    border: 1px solid #707070;
    margin: -489px auto;
}